.presentation-viewer {
    display: block;
    margin: 40px auto;
    position: relative;
    background: #000;
    border: 5px solid #BB00FF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
