#slide_out {
    position: fixed;
    top: 300px;
    left: 0;
    width: 35px;
    padding: 12px 0;
    text-align: center;
    background-color: rgba(200, 50, 255, 1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 0 5px 5px 0;
}

#slide_out_inner {
    position: fixed;
    top: 300px;
    left: -250px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#slide_out:hover {
    left: 100px;
    background-color: rgba(200, 50, 255, 0.3);
}

#slide_out:hover #slide_out_inner {
    left: 0;
}