html {
    color: black;
    text-align: left;
    font-family: calibri, garamond, geneva, georgia, palatino, calibri, serif;
}

ul {
    list-style: circle;
}

dl, dt, ul {
    text-align: left;
    margin-right: 1cm;
}

p {
    text-align: justify;
}

a {
    color: #BB00FF;
    text-decoration: none;
}

a.none{
    color: black;
    font-style: italic;
}

.feed-icon {
    float: right;
}

.validator-link {
    font-family: Arial, Helvetica, calibri, serif;
    font-size: 0.8em;
}

img {
    border: 0;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 1px solid #BB00FF;
    clear: both;
}

a.bold {
    font-weight: bold;
}

.box {
    padding: 0 0;
}

h1, h4 {
    margin: 0;
}

.paper-title {
    font-weight: bold;
}

.paper-venue {
    font-style: italic;
}

ul.none {
    list-style-type: none;
}