/* SLIDER STRUCTURE */

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

#slider
  background #000
  border 5px solid #BB00FF
  border-radius 4px
  box-shadow 1px 1px 5px rgba(0, 0, 0, 0.7)
  height 724px
  width 716px
  margin 80px auto 0
  overflow visible
  position relative