/* Constant variables */
image-width = 640px
image-height = 640px

/* Slider structure */

#slider
  background #000
  border 5px solid #BB00FF
  border-radius 4px
  box-shadow 1px 1px 5px rgba(0, 0, 0, 0.7)
  height image-height
  width image-width
  margin 80px auto 0
  overflow visible
  position relative

/* Hide all outside of the slider */

#mask
  overflow hidden
  height image-height
  width image-width

/* Image list */

#slider ul
  margin 0
  padding 0
  position relative

#slider li
  /* Width Image */
  width image-width
  /* Height Image */
  height image-height
  position absolute
  /* Original Position - Outside of the Slider */
  top -(image-height)
  list-style none

#slider li.first_animation
  animation cycle_one 25s linear infinite

#slider li.second_animation
  animation cycle_two 25s linear infinite

#slider li.third_animation
  animation cycle_three 25s linear infinite

#slider li.fourth_animation
  animation cycle_four 25s linear infinite

#slider li.fifth_animation
  animation cycle_five 25s linear infinite

/* Animation */

@keyframes cycle_one
  0%
    top 0

  /* When you start the slide, the first image is already visible */
  4%
    top 0

  /* Original Position */
  16%
    top 0
    opacity 1
    z-index 0

  /* From 4% to 16 % = for 3 seconds the image is visible */
  20%
    top 729px
    opacity 0
    z-index 0

  /* From 16% to 20% = for 1 second exit image */
  21%
    top -729px
    opacity 0
    z-index -1

  /* Return to Original Position */
  92%
    top -729px
    opacity 0
    z-index 0

  96%
    top -729px
    opacity 0

  /* From 96% to 100% = for 1 second enter image*/
  100%
    top 0
    opacity 1

@keyframes cycle_two
  0%
    top -729px
    opacity 0

  /* Original Position */
  16%
    top -729px
    opacity 0

  /* Starts moving after 16% to this position */
  20%
    top 0
    opacity 1

  24%
    top 0
    opacity 1

  /* From 20% to 24% = for 1 second enter image*/
  36%
    top 0
    opacity 1
    z-index 0

  /* From 24% to 36 % = for 3 seconds the image is visible */
  40%
    top: 729px
    opacity: 0
    z-index: 0

  /* From 36% to 40% = for 1 second exit image */
  41%
    top: -729px
    opacity: 0
    z-index: -1

  /* Return to Original Position */
  100%
    top: -729px
    opacity: 0
    z-index: -1

@keyframes cycle_three
  0%
    top -729px
    opacity 0

  36%
    top -729px
    opacity 0

  40%
    top 0
    opacity 1

  44%
    top 0
    opacity 1

  56%
    top 0
    opacity 1

  60%
    top 729px
    opacity 0
    z-index 0

  61%
    top -729px
    opacity 0
    z-index -1

  100%
    top -729px
    opacity 0
    z-index -1

@keyframes cycle_four
  0%
    top -729px
    opacity 0

  56%
    top -729px
    opacity 0

  60%
    top 0
    opacity 1

  64%
    top 0
    opacity 1

  76%
    top 0
    opacity 1
    z-index 0

  80%
    top 729px
    opacity 0
    z-index 0

  81%
    top -729px
    opacity 0
    z-index -1

  100%
    top -729px
    opacity 0
    z-index -1

@keyframes cycle_five
  0%
    top -729px
    opacity 0

  76%
    top -729px
    opacity 0

  80%
    top 0
    opacity 1

  84%
    top 0
    opacity 1

  96%
    top 0
    opacity 1
    z-index 0

  100%
    top 729px
    opacity 0
    z-index 0

/* Progress bar*/

.progress-bar
  position: relative
  top -5px
  width image-width
  height 5px
  background #000
  animation full_expand 25s ease-out infinite

/* Animation bar */

@keyframes full_expand
  /* In these keyframes, the progress-bar is stationary */
  0%, 20%, 40%, 60%, 80%, 100%
    width 0
    opacity 0

  /* In these keyframes, the progress-bar starts to come alive */
  4%, 24%, 44%, 64%, 84%
    width 0
    opacity 0.3

  /* In these keyframes, the progress-bar moves forward for 3 seconds */
  16%, 36%, 56%, 76%, 96%
    width: 100%
    opacity: 0.7

  /* In these keyframes, the progress-bar has finished his path */
  17%, 37%, 57%, 77%, 97%
    width 100%
    opacity 0.3

  /* In these keyframes, the progress-bar will disappear and then resume the cycle */
  18%, 38%, 58%, 78%, 98%
    width 100%
    opacity 0

#slider .tooltip
  background rgba(0, 0, 0, 0.7)
  width (image-width / 2)
  height 60px
  position relative
  bottom 75px
  left - @width - 20
  transition all 0.3s ease-in-out

#slider .tooltip h1
  color #fff;
  font-size 24px;
  font-weight 300;
  line-height 60px;
  padding 0 0 0 10px;

#slider li#first:hover .tooltip
#slider li#second:hover .tooltip
#slider li#third:hover .tooltip
#slider li#fourth:hover .tooltip
#slider li#fifth:hover .tooltip
  left 0

#slider:hover li
#slider:hover .progress-bar
  animation-play-state paused
