#title {
    font-style: italic;
    white-space: nowrap;
    font-weight: 900;
}

#contents {
    width: 82%;
    margin: auto;
}

#top_contents {
    width: 82%;
    margin: auto;
}

#headshot {
    /* border-radius: 0 120px 120px 120px; */
    margin-top: 10px;
    margin-bottom: 5px;
    width: 350px;
    float: left;
    /* -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
    /* transition: width 2s, height 4s, border-radius 2s; */
}

/*#headshot:hover {
    width: 400px;
    border-radius: 0 60px 60px 60px;
}*/

#uni_logo {
    width: 90px;
}

#fk_logo {
    background: #007FFF url('../img/fk_ico_sm.png') no-repeat center;
    box-sizing: border-box;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-left: 5px;
    padding: 5px;
}

#lk_logo {
    background: #007FFF url('../img/lk_ico_sm.png') no-repeat center;
    box-sizing: border-box;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-left: 5px;
    padding: 5px;
}

#gh_logo {
    background: #2ecc40 url('../img/gh_ico_sm.png') no-repeat center;
    box-sizing: border-box;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-left: 5px;
    padding: 5px;
}

#main_information {
    width: 500px;
    padding: 5px 20px;
    float: left;
}

