extends layout
block css
    link(href='css/gallery.css', rel='stylesheet')
block content
    #content-slider
        // Slide container
        #slider
            // Mask
            #mask
                ul
                    li(id="first", class="first_animation")
                        a(href="#")
                            img(src="img/1.jpg", alt="1")
                        div(class='tooltip')
                            h1 ...
                    li(id="second", class="second_animation")
                        a(href="#")
                            img(src="img/2.jpg", alt="2")
                        div(class='tooltip')
                            h1 ...
                    li(id="third", class="third_animation")
                        a(href="#")
                            img(src="img/3.jpg", alt="3")
                        div(class='tooltip')
                            h1 ...
                    li(id="fourth", class="fourth_animation")
                        a(href="#")
                            img(src="img/4.jpg", alt="4")
                        div(class='tooltip')
                            h1 ...
                    li(id="fifth", class="fifth_animation")
                        a(href="#")
                            img(src="img/5.jpg", alt="5")
                        div(class='tooltip')
                            h1 ...
            div(class='progress-bar')

