extends layout

block content
    .box
        a(name="research_int")
        h2 Research Interests
        ul
            li Software Defined Networking (SDN)
            li Network Function Virtualization (NFV)
            Li Cloud & Fog Computing
            li Internet of Things (IoT)
            li Future Internet Architectures

    .box
        a(name="education")
        h2 Education
        ul
            li
                | Amirkabir University of Technology (Tehran Polytechnic)
                ul.none
                    li BS in Computer Engineering
                    li September 2012 - June 2016
                    li GPA: <strong>17.31</strong> / 20 (110 / 140 Units)
                    li B.Sc. Final Thesis: Implementation of software defined VPN by MPLS
                    li Supervisor: Prof.Khorsandi

            li
                | Manzoumeh Kherad Institute
                ul.none
                    li Diploma in Mathematics and Physics
                    li September 2008 - June 2012
                    li GPA: <strong>19.74</strong> / 20

    .box
        a(name="honors")
        h2 Honors & Awards
        ul
            li Eligible for applying to Direct Admission Program for M.Sc. at Department of Computer Engineering, Amirkabir University of Technology without taking the <strong>National Entrance Exam for Graduate Schools</strong> as a reward of high academic records and achievements (2015)

            li Ranked in top 4 Computer Hardware Engineering Students (2013 to 2015) 

            li Eligible to choose <strong>second major</strong> due to outstanding performance (2014)

            li Ranked in top 0.8% of Nation-wide University Entrance Exam among all Iranian Students of Math. & Physics (2012)

            li Ranked in top 0.9% of Nation-wide University Entrance Exam among all Iranian Students of Foreign Languages (English) (2012)

            li <strong>1st</strong> Place in Iran Open Robocup Competition Demo League as a Member of <em>Kherad</em> team (2011)

            li Semi-finalist at National Mathematics Olympiad (2010 & 2011)

            li Earned <strong>Merit Medal</strong> in International World Youth Mathematics Competition (IWYMIC) Durban, South Africa (2009)

    .box
        a(name="research")
        h2 Research Experiences

        ul
            li <strong>Consistent update in SDN</strong>, Spring 2015
                ul.none
                    li E.Jalalpour
                    li This research was done for Research Method and Technical Report Writings course (Technical Report and Poster).
                    li Research Methods Course
        ul
            li <a href="https://github.com/elahejalalpour/IoT101/"><strong>research on a department-wide platform for IoT and building management systems</strong></a>, Summer 2015
                ul.none
                    li Under supervision of Prof.Bakhshi
                    li Research on different operating systems, frameworks and platforms on IoT
                    li <a class="none" href="http://ceit.aut.ac.ir">Department of Computer Engineering and Information Technology</a>,
                        | <a class="none" href="http://aut.ac.ir/">Amirkabir University of Technology</a>,Tehran, Iran
    .box
        a(name="working")
        h2 Working Experiences
        ul
            li
                | Summer internship in the country's leading research center of telecommunication network systems.
                | The source code of the project can be found <a class="none" href="https://github.com/elahejalalpour/SDN101">here</a>.
                ul.none
                    li Summer 2015
                    li
                        a.none(href="https://www.itrc.ac.ir") Iranian Telecommunication Research Center ITRC
                        | , Tehran, Iran

    .box
        a(name="patents")
        h2 Patents
        ul
            li
                | Intelligent Control System of Steering Wheel 
                ul.none
                    li Issued, 03 / 2011
                    li IR Patent: <strong>69363</strong>

    .box
        a(name="teaching")
        h2 Teaching Experiences
        ul
            li <strong>Introduction to Programming</strong>, Under supervision of Prof. Bakhshi, Fall 2015
            li <strong>Computer Networks II</strong>, Under supervision of Prof. Sabaei, Fall 2015
            li <strong>Operating Systems</strong>, Under supervision of Prof. Zarandi, Fall 2015
            li <strong>Computer Architecture</strong>, Under supervision of Prof. Zarandi, Winter 2015
    .box
        a(name="skills")
        h2 Skills & Expertise
        ul
            li <strong>Programming Languages:</strong>
                ul.none
                    li Java, C/C++, Python 3, Verilog, VHDL, 8086 Assembly, AVR Assembly

            li <strong>Networking:</strong>
                ul.none
                    li ONOS platform, FloodLight, Ryu, Mininet, GNS3, Wireshark, Cisco Packet Tracer, OpenFlow
            li <strong>Typesetting:</strong>
                ul.none
                    li LaTeX, Microsoft Word, LibreOffice, Pages, Vim

            li <strong>Hardware Simulators:</strong>
                ul.none
                    li Xilinx ISE Design Suite, P-Spice, H-Spice, Proteus, Quartus II

            li <strong>Other:</strong>
                ul.none
                    li Eclipse, Netbeans, Mathlab

            li <strong>DB Management:</strong>
                ul.none
                    li MySQL

            li <strong>Operating System:</strong>
                ul.none
                    li Linux (Ubuntu and Fedora), OS X, Windows

    .box
        a(name="languages")
        h2 Languages
        ul
            li Persian
                ul.none
                    li Native proficiency

            li English
                ul.none
                    li Professional working proficiency
                    ul.none
                        li <strong>TOEFL iBT: 103</strong>

            li French
                ul.none
                    li Elementary proficiency
    .box
        a(name="graduate")
        h2 Graduate Courses
        ul
            li
                | Advance Computer Networks
                ul.none
                    li Professor Siavash Khorsandi
                    li Fall 2015
            li
                | Optimization and its Applications in Computer Networks (Audited)
                ul.none
                    li Professor Bahador Bakhshi
                    li Fall 2015
    .box
        a(name="projects")
        h2 Projects
        ul
            li <strong>Final thesis project</strong>
                ul.none
                    li Implementation of software defined VPN by MPLS - Python

            li <strong>Department Cloud</strong>
                ul.none
                    li We deployed a cloud resource management system based on OpenStack that is being used for different researches in the department.
            li
                a(href="https://github.com/elahejalalpour/SDN101", target="_blank")
                    <strong>SDN 101</strong>
                ul.none
                    li Implementation of SDN based firewall (SDWall) and topology manager on ryu platform - Python

            li <strong>Phone Book</strong>
                ul.none
                    li Implementation of Phone Book with file - C

            li
                a(href="https://github.com/elahejalalpour/HTTPProxy", target="_blank")
                    <strong>HTTP Proxy</strong>
                ul.none
                    li Implementation of a HTTP and HTTPS proxy server - JAVA

            li
                a(href="https://github.com/elahejalalpour/Jumong", target="_blank")
                    <strong>JUMONG (Java Ultimate Maze Obstacle Neutralizer Game)</strong>
                ul.none
                    li Implementation of a graphical game with multiplayer support - JAVA

            li
                a(href="https://github.com/elahejalalpour/RiverRider", target="_blank")
                    <strong>River Rider</strong>
                ul.none
                    li Implementation of a graphical game with multi-threading support - JAVA

            li
                a(href="https://github.com/elahejalalpour/Bubbles", target="_blank")
                    <strong>Bubbles</strong>
                ul.none
                    li Implementation of a Java based bubbles screen saver- JAVA

            li <strong>FAT Parser</strong>
                ul.none
                    li Implementing FAT-16 and FAT-32 parser with delete, list and retrieve support - C

            li <strong>Disassembling DOS Executable File</strong>

            li
                a(href="https://github.com/elahejalalpour/CoDesign", target="_blank")
                    <strong>FPGA Co-Design</strong>
                ul.none
                    li Implementing hardware modules in VHDL and using them for having a cryptographic algorithm in a software environment - VHDL & C

            li
                a(href="https://github.com/elahejalalpour/TL-RippleAdder", target="_blank")
                    <strong>Transistor Level Ripple Adder</strong>
                ul.none
                    li Designing and implementing transistor level ripple adder in three families: Static CMOS, Dynamic CMOS and DCVSL - HSPICE

            li <strong>Simon Game</strong>
                ul.none
                    li Design and implementation of Simon game's logic circuit - Proteus
    .box
        a(name="references")
        h2 References
        ul
            li
                <strong>Professor Bahador Bakhshi</strong>
                ul.none
                    li Computer Engineering and IT Department, Amirkabir University of Technology
                    li Email: bbakhshi@aut.ac.ir

            li
                <strong>Professor Hamid Reza Zarandi</strong>
                ul.none
                    li Computer Engineering and IT Department, Amirkabir University of Technology
                    li Email: h_zarandi@aut.ac.ir

            li
                <strong>Professor Masoud Sabaei</strong>
                ul.none
                    li Computer Engineering and IT Department, Amirkabir University of Technology
                    li Email: sabaei@aut.ac.ir


