- var today = new Date()
doctype html
html

    head
        title Elahe Jalalpour
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='description', content='Homepage of Elahe Jalalpour (elahejalalpour) at Amirkabir University of Technology')
        meta(name='author', content= "Elahe Jalalpour")
        meta(name='keywords', content='Elahe Jalalpour, Resume, Homepage')

        link(href="img/favicon.ico", rel="shortcut icon")

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
        script(src="js/nav.js")
        block js

        link(href='css/normalize.css', rel='stylesheet')
        link(href='css/front.css', rel='stylesheet')
        link(href='css/header.css', rel='stylesheet')
        link(href='css/nav.css', rel='stylesheet')
        block css

    body
        #top_contents
            img#headshot(src="img/headshot.jpg", alt="[Elahe Jalalpour photo]")
            .box
                #main_information
                    h1#title Elahe Jalalpour
                    p
                        a(href="http://aut.ac.ir/")
                            img#uni_logo(alt="[AUT logo]", src="img/aut.png")
                    div(style={width: '500px'})
                        h4 Senior Undergraduate Student
                        address
                            a(href="http://ceit.aut.ac.ir/") Department of Computer Engineering and Information Technology
                            br
                            | 424 Hafez Ave., Tehran, Iran
                        br
                        a(href="mailto:el.jalalpour@aut.ac.ir", title="el -dot- jalalpour -at- aut -dot- ac -dot- ir") el.jalalpour@aut.ac.ir
                        br
                        a(href="mailto:el.jalalpour@gmail.com", title="el -dot- jalalpour -at- gmail -dot- com") el.jalalpour@gmail.com
                        br
                    p
                        iframe(src="https://ghbtns.com/github-btn.html?user=elahejalalpour&repo=elahejalalpour.github.io&type=star&count=true",
                            frameborder="0", scrolling="0", width="170px", height="20px")
                    p
                        a#fk_logo.logo(href="https://www.facebook.com/el.jalalpour",title="Facebook", target="_blank")
                        a#lk_logo.logo(href="https://ir.linkedin.com/in/jalalpour",title="Linkedin",  target="_blank")
                        a#gh_logo.logo(href="https://www.github.com/elahejalalpour",title="Github",  target="_blank")
            hr
            nav#top-nav
                ul
                    li
                        a(class="bold", title="Home", href="index.html") Home
                        ul
                            li
                                a(class="bold", href="index.html#research_int") Research Interests
                            li
                                a(class="bold", href="index.html#education") Education
                            li
                                a(class="bold", href="index.html#patents") Patents
                            li
                                a(class="bold", href="index.html#honors") Honors & Awards
                            li
                                a(class="bold", href="index.html#publications") Publications
                            li
                                a(class="bold", href="index.html#research") Research Experiences
                            li
                                a(class="bold", href="index.html#teaching") Teaching
                            li
                                a(class="bold", href="index.html#languages") Languages
                            li
                                a(class="bold", href="index.html#projects") Projects
                            li
                                a(class="bold", href="index.html#skills") Technical Skills
                            li.last
                                a(class="bold", href="index.html#references") References
                    li
                        a(class="bold", href="presentations.html") Presentations
                    li
                        a(class="bold", href="gallery.html") Gallery
                    li
                        a(class="bold", href="Jalalpour-CV.pdf") Curriculum Vitae
        #contents
            block content
            br
            hr
            | This page was updated by Elahe on #{today.toDateString()}.
        // Start of StatCounter Code
        script(type="text/javascript")
            | var sc_project = 10523949;
            | var sc_invisible = 0;
            | var sc_security = "05d9c0af";
            | var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www.");
            | document.write("<sc" + "ript type='text/javascript' src='" +
            | scJsHost +
            | "statcounter.com/counter/counter.js'></" + "script>");
        noscript
            #statcounter
            a(title="web analytics", href="http://statcounter.com/", target="_blank")
                img(class="statcounter", src="http://c.statcounter.com/10523949/0/05d9c0af/0/", alt="web analytics")
        // End of StatCounter Code
        != js()
