extends layout
block css
    link(href='css/presentations.css', rel="stylesheet")
block content
    .box
        a(name="sdn-internship")
        h2 Introduction to SDN and SDWall platform
        h4
            | Presentation about SDN and how to use SDWall platform for
            | <a class='none' href="https://www.itrc.ac.ir"> Iranian Telecommunication Research Center ITRC </a>, Tehran, Iran, 2015
        embed(class="presentation-viewer", src="presentations/SDN-Internship-Presentation.pdf", width="600", height="480", type='application/pdf')
    .box
        a(name="sdn-consistency")
        h2 Consistent Update in SDN
        h4 Technical report for Research Method and Technical Report Writings course (In Persian), Tehran, Iran, 2015.
        embed(class="presentation-viewer", src="presentations/SDN-Consistency.pdf", width="600", height="480", type='application/pdf')
