extends layout

block content
    #contents
        #boc
            a(name="research_int")
            h2 Research Interests
            ul(style={'text-align': "justify", 'text-justify': "inter-word"})
                li Computer Networks
                li Software Defined Networking
                li Internet of Things
                li Computer and System Architecture
                li FPGA
        #box
            a(name="Education")
            h2 Education
            ul(style={'text-align': "justify", 'text-justify': "inter-word"})
                li
                    | Amirkabir University of Technology (Tehran Polytechnic)
                    ul(style={'list-style-type': "none"})
                        li BS Candidate, Computer Engineering, Hardware
                        li September 2012 - June 2016
                        li GPA: <strong>17.31</strong> / 20 (110 / 140 Units)
                br
                li
                    | Manzoumeh Kherad Institute
                    ul(style={'list-style-type': "none"})
                        li Diploma in Mathematics and Physics
                        li September 2008 - June 2012
                        li GPA: <strong>19.52</strong> / 20