extends layout
block css
    link(href='css/presentations.css', rel="stylesheet")
block content
    .box
        a(name="sdn-consistency")
        h2 Consistent Update in SDN
        h4 Technical report for Research Method and Technical Report Writings course (In Persian), Tehran, Iran, 2015.
        embed(class="presentation-viewer", src="presentations/SDN-Consistency.pdf", width="600", height="480", type='application/pdf')
